body {
    padding: 0 auto;
    margin: 0 auto;
    background:#dae0e6;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    h1{
        // color:rgba(26, 24, 24, 0.925);
        color: rgb(0, 121, 211);
        font-size: 55px;
    }
}

.threads, .thread {
    width: 1200px;
    margin: auto;
    min-height: 450px;
    margin-top:5%;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
}
.wrapper{
    background: #ffffff;
    padding: 10px;

    .nav {
        display: flex;
        width: 1000px;
        margin: auto;
        justify-content: space-around;

        input {
            padding: 5px 0px 5px 10px;
            border-radius: 4px;
            border: 1px solid rgba(0, 121, 211,.4);
            outline: none;
        }

        .signin, .signup {
            border: 1px solid rgba(0,0,0,.3);
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding:0px 10px;
            color: rgb(0, 121, 211);
            cursor: pointer;
        }

        .signup {
            background: rgb(0, 121, 211);
            color: white;
        }
    }
}

.threads {

    .item {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-width: 1px;
        border-style: solid;
        border-color:transparent;
        
        &:hover {
            border-width: 1px;
            border-style: solid;
            border-color: rgb(49, 49, 49);
        }
        
        .logo {
            flex: 0 20%;
            img {
                width: 235px;
                height: 90px;
                object-fit: cover;
            }
        }

        .wrapper {
            flex: 1;
            padding-left: 10px;

            .title {

            }
            .author {
                flex: 1 100%;
            }
        }

    }
}

.thread {
    
}

.modal {
    position: absolute;
    display: none;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);

    .signup {
        display: flex;
        position: relative;
        width: 450px;
        margin: auto;
        padding: 10px;
        background: white;
        border: 1px solid rgba(0,0,0,.4);
        border-radius: 4px;
        margin-top:10%;
        flex-direction: column;
        input {
            padding: 5px 0px 5px 10px;
            border-radius: 4px;
            border: 1px solid rgba(0, 121, 211,.4);
            outline: none;
        }
        input,.signupBtn {
            margin-top:20px;
        }

        .close {
            position: absolute;
            right: 10px;
            top: 10px;
            color: tomato;
            font-weight: bold;
            cursor: pointer;

        }
    }

    .show {
        display: block;
    }
    
}