<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="images">
             <img class="logo" src="https://api.flybc.net/img-download/a37d4/07052410fd1c4027b961d3d8193ae707.png">
                <img class="clogo" src="https://api.flybc.net/img-download/aa396/dd73d4f347a148948ddcc1b2e76fb6b9.png">
            </div>
            <div class="block">
                <div class="name" style="
    padding-top: 15px;
">Андрей  <br> Благой ЛОХ</div>
                <div class="slogan">
                    <div class="company" style="
    padding-bottom: 5px;
">Страховая компания "ТАС"</div>
                    <div class="text">Оформление договоров накопительного страхования ggwp</div>
                </div>
                <div class="status" style="
    padding-top: 11px;
">Финансовый консультант</div>

                <div class="icons" style="
    padding-top: 17px;
    padding-bottom: 17px;
">
                  <img src="https://flybc.co/assets/img/card_icon_mail.png" class="mail" style="opacity: 1">
                  <img src="https://flybc.co/assets/img/card_icon_facebook.png" class="fb">
                  <img src="https://flybc.co/assets/img/card_icon_twitter.png" class="tw">
                  <img src="https://flybc.co/assets/img/card_icon_vk.png" class="vk">
                  <img src="https://flybc.co/assets/img/card_icon_linkedin.png" class="linked_in">
                  <img src="https://flybc.co/assets/img/card_icon_instagram.png" class="instagram">
                  <img src="https://flybc.co/assets/img/card_icon_youtube.png" class="youtube">
                  <img src="https://flybc.co/assets/img/card_icon_web.png" class="web" style="opacity: 1">
                  <img src="https://flybc.co/assets/img/card_icon_phone.png" class="phone" style="opacity: 1">
                  <img src="https://flybc.co/assets/img/card_icon_skype.png" class="skype">
                  <img src="https://flybc.co/assets/img/card_icon_map.png" class="map">
                </div>
                <div class="btn"><a href="https://flybc.co/andrey">Нажмите для просмотра контактов</a></div>
            </div>
        </div>
        <div class="tag">Цифровая визитка <b>&nbsp; Fly Card</b></div>
    </div>

    <style>

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  width: fit-content;
}


.container {
    border: 1px solid rgba(237, 239, 241, 0.5);
    border-radius: 6px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    width: 634px;
    flex-direction: column;
}
/* line 17, ../sass/represenative.scss */
.container .wrapper {
    display: -webkit-box;
    display: flex;
    overflow: hidden;
}
/* line 21, ../sass/represenative.scss */
.container .wrapper .images {
  width: 210px;
  flex: 0 210px;
}
/* line 24, ../sass/represenative.scss */
.container .wrapper .images .logo {
  width: 100%;
  height: 242px;
  display: block;
}

.container .wrapper .images .clogo {
  width: 100%;
  height: 84px;
  border-right: 1px solid rgba(237, 239, 241, 0.5);
}

.container .wrapper .block {
    flex: 0 420px;
    width: 420px;
}

.container .wrapper .block .name {
  font-weight: bold;
  padding: 5px 20px;
  font-size: 20px;
}

.container .wrapper .block .slogan {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #edeff1;
    overflow: hidden;
    height: 75px;
}

.container .wrapper .block .slogan .company {
  font-weight: bold;
  font-size: 18px;
}

.container .wrapper .block .slogan .text {
    font-size: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}

.container .wrapper .block .status {
  height: calc(25px * 2);
    overflow: hidden;
    line-height: 25px;
    padding-left: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.container .wrapper .icons {
    display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  box-sizing: border-box;

  /* height: 20px;
  padding: 23px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container .wrapper .icons img {
    width: 20px;
  height: 20px;
  object-fit: contain;
  height: 20px;
  opacity: 0.2;
  cursor: pointer;
  display: block;
}
.container .wrapper .btn {
    text-align: center;
    color: #0EBED9;
    display: flex;
    align-items: center;
    height: 65px;
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
    display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.container .wrapper .btn  a{
  text-decoration: none;
  color: #0EBED9;
}
.container .tag {
    color: rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 600px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-box;
-webkit-box-pack: center;
-webkit-box-align: center;
  padding: 15px;
  border: 1px solid rgba(237, 239, 241, 0.5);
}

    </style>

</body></html>