/* line 1, ../sass/main.scss */
body {
  padding: 0 auto;
  margin: 0 auto;
  background: #dae0e6;
  font-family: 'Roboto', sans-serif;
}

/* line 8, ../sass/main.scss */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
/* line 13, ../sass/main.scss */
header h1 {
  color: #0079d3;
  font-size: 55px;
}
/* line 18, ../sass/main.scss */
header h1 a {
  text-decoration: none;
  color: #0079d3;
}

/* line 25, ../sass/main.scss */
.threads, .thread {
  width: 1200px;
  margin: auto;
  min-height: 450px;
  margin-top: 5%;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
}

/* line 36, ../sass/main.scss */
.wrapper {
  background: #ffffff;
  padding: 10px;
}
/* line 40, ../sass/main.scss */
.wrapper .nav {
  display: flex;
  width: 600px;
  margin: auto;
  justify-content: space-around;
}
/* line 46, ../sass/main.scss */
.wrapper .nav input {
  padding: 5px 0px 5px 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 121, 211, 0.4);
  outline: none;
}
/* line 53, ../sass/main.scss */
.wrapper .nav .signin, .wrapper .nav .signup {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #0079d3;
  cursor: pointer;
}
/* line 63, ../sass/main.scss */
.wrapper .nav .signup {
  background: #0079d3;
  color: white;
}

/* line 72, ../sass/main.scss */
.threads .item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
/* line 80, ../sass/main.scss */
.threads .item:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #313131;
}
/* line 86, ../sass/main.scss */
.threads .item .logo {
  flex: 0 20%;
}
/* line 88, ../sass/main.scss */
.threads .item .logo img {
  width: 235px;
  height: 90px;
  object-fit: cover;
}
/* line 95, ../sass/main.scss */
.threads .item .wrapper {
  flex: 1;
  padding-left: 10px;
}
/* line 102, ../sass/main.scss */
.threads .item .wrapper .author {
  flex: 1 100%;
}

/* line 110, ../sass/main.scss */
.thread {
  padding: 10px 15px;
  margin-bottom: 20px;
}
/* line 113, ../sass/main.scss */
.thread #cke_editor1 {
  margin-top: 10px;
}
/* line 117, ../sass/main.scss */
.thread .send {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  color: #0079d3;
  cursor: pointer;
  margin-top: 10px;
  transition: all .4s;
  text-transform: uppercase;
}
/* line 129, ../sass/main.scss */
.thread .send:hover {
  background: #0079d3;
  color: white;
}
/* line 135, ../sass/main.scss */
.thread .comment {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}

/* line 145, ../sass/main.scss */
.modal {
  position: absolute;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 153, ../sass/main.scss */
.modal .signup {
  display: flex;
  position: relative;
  width: 450px;
  margin: auto;
  padding: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin-top: 10%;
  flex-direction: column;
}
/* line 164, ../sass/main.scss */
.modal .signup input {
  padding: 5px 0px 5px 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 121, 211, 0.4);
  outline: none;
}
/* line 170, ../sass/main.scss */
.modal .signup input, .modal .signup .signupBtn {
  margin-top: 20px;
}
/* line 174, ../sass/main.scss */
.modal .signup .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: tomato;
  font-weight: bold;
  cursor: pointer;
}
/* line 185, ../sass/main.scss */
.modal .show {
  display: block;
}
