/* line 1, ../sass/main.scss */
body {
  padding: 0 auto;
  margin: 0 auto;
  background: #dae0e6;
  font-family: 'Roboto', sans-serif;
}

/* line 8, ../sass/main.scss */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
/* line 13, ../sass/main.scss */
header h1 {
  color: #0079d3;
  font-size: 55px;
}
/* line 18, ../sass/main.scss */
header h1 a {
  text-decoration: none;
  color: #0079d3;
}

/* line 25, ../sass/main.scss */
.threads, .thread {
  width: 1200px;
  margin: auto;
  min-height: 450px;
  margin-top: 5%;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
}

/* line 36, ../sass/main.scss */
.wrapper {
  background: #ffffff;
  padding: 10px;
}
/* line 40, ../sass/main.scss */
.wrapper .nav {
  display: flex;
  width: 600px;
  margin: auto;
  justify-content: space-around;
}
/* line 46, ../sass/main.scss */
.wrapper .nav input {
  padding: 5px 0px 5px 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 121, 211, 0.4);
  outline: none;
}
/* line 53, ../sass/main.scss */
.wrapper .nav .signin, .wrapper .nav .signup, .wrapper .nav .signout {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  color: #0079d3;
  cursor: pointer;
}
/* line 63, ../sass/main.scss */
.wrapper .nav .signup {
  background: #0079d3;
  color: white;
}

/* line 70, ../sass/main.scss */
.hide {
  display: none !important;
}

/* line 76, ../sass/main.scss */
.threads .item {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
/* line 82, ../sass/main.scss */
.threads .item:hover {
  box-shadow: 0px 0px 1px 1px #0079d3;
}
/* line 86, ../sass/main.scss */
.threads .item .logo {
  flex: 0 20%;
}
/* line 88, ../sass/main.scss */
.threads .item .logo img {
  width: 235px;
  height: 90px;
  object-fit: cover;
}
/* line 95, ../sass/main.scss */
.threads .item .wrapper {
  flex: 1;
  padding-left: 10px;
}
/* line 102, ../sass/main.scss */
.threads .item .wrapper .author {
  flex: 1 100%;
}

/* line 110, ../sass/main.scss */
.thread {
  padding: 10px 15px;
  margin-bottom: 20px;
}
/* line 114, ../sass/main.scss */
.thread #cke_editor1 {
  margin-top: 10px;
}
/* line 118, ../sass/main.scss */
.thread .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
/* line 123, ../sass/main.scss */
.thread .wrapper .close {
  display: none;
}
/* line 127, ../sass/main.scss */
.thread .wrapper .send {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  color: #0079d3;
  cursor: pointer;
  margin-top: 10px;
  transition: all .4s;
  text-transform: uppercase;
}
/* line 139, ../sass/main.scss */
.thread .wrapper .send:hover {
  background: #0079d3;
  color: white;
}
/* line 145, ../sass/main.scss */
.thread .wrapper .to {
  display: none;
  margin-left: 10px;
  padding-top: 10px;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
}
/* line 153, ../sass/main.scss */
.thread .wrapper .replyBlock {
  padding: 5px 15px;
  border-radius: 4px;
  display: none;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
  color: white;
  background: #2ecc71;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
/* line 179, ../sass/main.scss */
.thread .swap {
  display: flex !important;
}
/* line 183, ../sass/main.scss */
.thread .comment {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #edeff1;
  padding: 10px 0px 10px 25px;
}
/* line 189, ../sass/main.scss */
.thread .comment:nth-child(n+1) {
  margin-top: 25px;
}
/* line 194, ../sass/main.scss */
.thread .comment .name {
  color: #0079D3;
  text-decoration: none;
  width: fit-content;
  border-bottom: 1px solid transparent;
}
/* line 199, ../sass/main.scss */
.thread .comment .name:hover {
  border-bottom: 1px solid #0079D3;
}
/* line 204, ../sass/main.scss */
.thread .comment .message p {
  margin: 5px 0px;
}
/* line 208, ../sass/main.scss */
.thread .comment .navbar {
  display: flex;
  font-weight: bold;
  color: #c8ccd0;
}
/* line 212, ../sass/main.scss */
.thread .comment .navbar .reply {
  cursor: pointer;
}
/* line 216, ../sass/main.scss */
.thread .comment .navbar .share {
  margin-left: 10px;
  cursor: pointer;
}

/* line 224, ../sass/main.scss */
.modal {
  position: absolute;
  display: none;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 232, ../sass/main.scss */
.modal .signup {
  display: flex;
  position: relative;
  width: 450px;
  margin: auto;
  padding: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin-top: 10%;
  flex-direction: column;
}
/* line 243, ../sass/main.scss */
.modal .signup input {
  padding: 5px 0px 5px 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 121, 211, 0.4);
  outline: none;
}
/* line 249, ../sass/main.scss */
.modal .signup input, .modal .signup .signupBtn {
  margin-top: 20px;
}
/* line 253, ../sass/main.scss */
.modal .signup .close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: tomato;
  font-weight: bold;
  cursor: pointer;
}
/* line 264, ../sass/main.scss */
.modal .show {
  display: block;
}
